body {
    margin: 0px;
    padding: 0px;
    font-family: calibri;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {

    width: 100%;
    height: 100vh;
    background-image: url(../images/);
    background-size: cover;
    background-position: top left;background: rgb(0,128,0);
background: #3da200;
}

.logo img {
    height: 80px;
width: 160px;
}

nav {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background-color: #FFE77AFF;
    box-shadow: 2px 2px 15px #30246610;
    z-index: 1;
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 15px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #44CF6C;
    letter-spacing: 1px;
}

nav ul li a:hover {
    color: #fff;
    transition: all ease 0.2s;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.search-wrapper {
	display: flex;
	align-items: center;
right: 10;

}
.search
{
right: 10;
border-radius: 15px;
border: 0.1px solid #44CF6C;
}
.search input {
	padding: 7px 7px 7px 10px;
	border-radius: 15px;
	border: 0.1px solid #44CF6C;
	background-color: rgba(255, 255, 255, 0.1);
}

.search input::placeholder {
	color: #44CF6C;
	font-size: 17px;
}
.home-img {
    width: 1000px;
    height: 600px;
}

.home-img img {
    width: 100%;
    height: 110%;
}

.home-text {
    width: 600px;
    margin: 60px;
}

.home-text h1 {
    font-size: 4rem;
    line-height: 55px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 800;
    margin: 0px;
}

.home-text p {
    font-size: 1.5rem;
    color: #9EF01A;
}

.main-login {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE77AFF;
    color: black;
	margin-top: 10px;
font-weight: 850;
    border: 2px solid #fff;
    border-radius: 5px;
}
.main-login:hover {
	
    background-color: #fff;
    color: #44CF6C;
	border: 2px solid #FFE77AFF;
    transition: all ease 0.2s;
}

.faculties {
    background-image: url(../images/);
    background-size: 1000px;
    background-position: center;
}

.faculties-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.faculties-heading h2 {
    line-height: 55px;
    font-size: 2.2rem;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}

.faculties p {
    font-size: 1rem;
    color: #777474;
    width: 75%;
}

.faculties-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 30px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.15);
    border-radius: 10px;
    background-color: #fff;
    margin: 20px;
    flex-grow: 1;
}

.box img {
    height: 200px;
    width:  400px;
    margin: 5px;
}

.box font {
    font-size: 1.5rem;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
}

.box p {
    font-size: 1rem;
    color: #777474;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 800px;
}

.box button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #44CF6C;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    margin: 0px;
  margin-top: 10px;
background: #FFE77AFF;
}

.box button:hover {
    background-color: #44CF6C;
    color: white;
    box-shadow: 5px 10px 30px #FFE77AFF;
    transition: all ease 0.3s;
}.boxn input[type="email"]
{
	border-style: bold #FFE77AFF;
	background: #fff;
	outline: none;
	height: 50px;
	font-size: 20px;
	border-radius: 15px;
	color:#44CF6C;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    border-top: 1px solid #f3f4f5;
	margin-top: 35px;

}

footer a {
    color: #5e5e5e;
}

a+a {
    margin-left: 10px;
  }






#myProgress {
  width: 90%;
  background-color: grey;
	border-radius: 20px;
}

#myBar {
  width: 20%;
  height: 20px;
	border-radius: 20px;
background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(56,176,0,1) 40%, rgba(158,240,26,1) 100%);
}
#myBar2 {
  width: 50%;
  height: 20px;
	border-radius: 20px;
background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(56,176,0,1) 40%, rgba(158,240,26,1) 100%);
}
#myBar3 {
  width: 30%;
  height: 20px;
	border-radius: 20px;
background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(56,176,0,1) 40%, rgba(158,240,26,1) 100%);
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.8;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #8a3ab9;
  color: white;
}

.slideshow {
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 450px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.15);
    border-radius: 10px;
    background-color: #FFE77AFF;
    margin: auto;
}

.slideshow img {
    height: 350px;
    width:  80%;
margin: auto;
margin-top: 35px;

}

.abc {

display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;


}

.abc h1{

line-height: 55px;
    font-size: 2.2rem;
    color: #22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}


.abc p{

 font-size: 1.2rem;
    color: #777474;
    width: 75%;
}